body{background-color: brown}

.column-container {
  display: flex;
  clear: both;
}

.left-col {
  float: left;
  background-color: forestgreen;
  width: 280px;
  height: 600px;
  padding: 0 10px;
}

.right-col {
  float: left;
  background-color: cadetblue;
  width: 400px;
  height: 600px;
  padding: 0 10px;
  
}

#item-holder {
  float: left;
  margin-bottom: 5px;
}

#open-notes {
  float: left;
  margin-left: 12px;
  margin-bottom: 5px
}